<div class="row">
  <div class="col-lg-10 col-sm-12 center-block">
    <div class="clock">
      <div class="face col-sm-12 center-block"><%= pie_chart @slots.group(:activity_id).count, legend: false %></div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-sm-12 center-block">
  <h2 class="col-lg-10 col-sm-12 center-block center"><%= @current_slot.activity.description %></h2>
  </div>
</div>
<%= render 'offcanvas' %>


<div class="row">
  
  <div id="change-activity" class="set-activity-button col-lg-10 col-sm-12 center-block">
      <%= link_to "CHANGE ACTIVITY", 'javascript:;', id: 'activity-button', class: 'btn wide-button btn-lg btn-primary' %>
  </div>
</div>