<div class="row">
  <div class="col-lg-10 col-sm-12 center-block">
    <div class="clock">
      <div class="face col-sm-12 center-block"></div>
    </div>
    <button  id="activity-button" class="btn wide-buton center-block btn-lg btn-warning">SET ACTIVITY</button>
  </div>
</div>
