<div class="row">
  <div class="col-lg-10 col-sm-12 center-block">
    <div class="clock">
      <div class="face col-sm-12 center-block"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-sm-12 center-block">
  <h2 class="col-lg-10 col-sm-12 center-block center"><%= @current_slot.activity.description %></h2>
  </div>
</div>
<%= render 'offcanvas' %>


<div class="row">
  
  <div id="set-activity" class="col-lg-10 col-sm-12 center-block">
      <%= link_to "SET ACTIVITY", 'javascript:;', id: 'activity-button', class: 'btn wide-button btn-lg btn-warning' %>
  </div>
</div>