<div class="row">
  <div class="col-lg-10 col-sm-12 center-block">
    <div class="clock">
      <div class="face col-sm-12 center-block"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-sm-12 center-block">
  <h2 class="col-lg-10 col-sm-12 center-block center">Current Activity</h2>
  </div>
</div>
<%= render 'offcanvas' %>


<div class="row">
  
  <div id="set-activity" class="col-lg-10 col-sm-12 center-block">
      <button  id="activity-button" class="btn wide-button btn-lg btn-warning">SET ACTIVITY</button>
  </div>
</div>