<div class="row">
  <div class="col-lg-8 col-md-8 center-block">
    <h4>Activities</h4>
  
    <div class="activities">
      <% @activities.each do |activity| %>
          <div class="activity"><%= link_to activity.description, activity_path(activity) %></div>
      <% end %>
    </div>
      <br>
      <br>
      <div><%= link_to 'New Activity', new_activity_path, class: 'btn btn-success' %></div>
  </div>
</div>
