<div class="col-md-8 center-block">
  
  <div>
    <strong>Description:</strong>
    <%= @activity.description %>
  </div>

  <%= link_to 'Edit', edit_activity_path(@activity) %> |
  <%= link_to 'Back', activities_path %>
</div>
